Лабораторная работа №

Тема: "Использование вспомогательных средств для структуризации и оптимизации кода"

Преподаватель: Атрощенко Н.А.

Цель: развить навыки использования инструментов JavaScript для оптимизации и структурирования программных приложений

Основные технические требования:

1. Проект должен включать в себя папки: соответственно для вашего шаблона (шаблонов) (с названием template.js) бизнес-логики css html js и resource и используемых библиотек файлов.
2. Ключевой файл должен иметь название index.html.
3. Для организации бизнес логики приложения используются только возможности языка JavaScript.
4. Для организации хранения и обработки информации использовать класс с конструктором со всеми перечисленными в задании полями коллекциями (типа Set Map) и методами а также класс с методом(и) отвечающим(и) за вывод значений.
5. Для организации ввода данных создать форму со всеми необходимыми веб-элементами.
6. Для организации вывода данных использовать возможности шаблонизатора JavaScript (по вашему выбору рекомендуется Handlebars и его аналоги).
7. При использовании шаблонизатора для вывода и отображения всей требуемой информации на странице должен быть использован:
   - разметка для обернутого в неё текста/информации (на странице отображения материала с помощью шаблонизатора в созданной форме должны быть отражены
     * списки: выпадающий и нумерованный текстовые поля заголовки подзаголовки картинки 3 вида шрифта)
   - управляющие структуры: условия (if)
   - перебор списков (цикл) и другие возможности выбранного шаблонизатора.
8. На странице ввода информации разместить 5 кнопок:
   1) ввести данные
   2) очистить форму
   3) удалить запись с выбранным ID (номером)
   4) показать все введённые данные
   5) показать элемент с данным ID (номером) (выбор ID (номера) можно осуществить любым способом по вашему выбору выпадающий список запрос и т.д.).
9. В проекте должен быть единый стиль и определённое тематическое оформление поэтому картинки и другие ресурсы подбирайте соответственно с тематикой вашего индивидуального задания.

Задание:

2. Создать форму для ввода необходимых характеристик вновь поступающих книг в книжный магазин. В форме нужно предусмотреть поля для ввода ID книги ФИО автора названия книги издательства количества страниц.
